.navbar {
    @include shadow();
    
    .navbar-nav:first-child .nav-item:first-child .nav-link {
        padding-left: 0;
    }

    .navbar-nav:last-child .nav-item:last-child .nav-link {
        padding-right: 0;
    }

    .nav-link {
        font-weight: bold;
        font-family:"Dosis","Open Sans",sans-serif;
    }

    .nav-link.active {
        color: $red !important;
    }

    .brand {
        text-align: center;

        .brand-img {
            max-width: 100%;
            height: auto;
          }

        .brand-txt {
            position: relative;
            bottom: -20px;
            opacity: 0;
            transition: 1s;
            -weblit-transition: 1s;
            z-index: 1;

            .brand-subtitle{
                font-size: 13px;
                color: #888;
            }
        }

    }

    @include media-breakpoint-down(md) {

        .brand {
            display: none;
        }
    }

    &.affix {

        .brand-txt {
            bottom: 0;
            opacity: 1;
        }

        .brand-img {
            max-width: 100%;
            height: auto;
          }
    }
}